[Unit]
Description=AOS Service
After=network.target
Before=aos-servicemanager.service

[Service]
Type=forking
Restart=always
ExecStartPre=/usr/bin/runc delete -f %i
ExecStart=/usr/bin/runc run -d --pid-file /run/aos/runtime/%i/.pid -b /run/aos/runtime/%i %i

ExecStop=/usr/bin/runc kill %i SIGKILL
ExecStopPost=/usr/bin/runc delete -f %i
PIDFile=/run/aos/runtime/%i/.pid
SuccessExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
