[Unit]
Description=AOS Service
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=forking
Restart=always
RestartSec=1
ExecStartPre=/usr/bin/runc delete -f %i
ExecStart=/usrt/bin/runc run -d --pid-file /run/aos/runtime/%i/.pid -b /run/aos/runtime/%i %i

ExecStop=/usr/bin/runc kill %i SIGKILL
ExecStopPost=/usr/bin/runc delete -f %i
PIDFile=/run/aos/runtime/%i/.pid
SuccessExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
