name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - develop

jobs:
  tests:
    runs-on: [self-hosted, linux, x64]
    steps:
      - name: Code checkout
        uses: actions/checkout@v2

      - name: Build
        run: go build

      - name: Test
        run:
          sudo env "PATH=$PATH" go test ./... -p=1 -failfast -v -coverprofile=coverage.out -covermode=atomic
          sudo chmod 666 coverage.out

      - name: Code coverage
        run: bash <(curl -s https://codecov.io/bash)

      - name: Lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.43.0
          skip-go-installation: true
